<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jk.game.legend.server.mapper.FightMapper">

    <resultMap id="BaseResultMap" type="com.jk.game.legend.model.UserInfo">
        <result column="user_Id" jdbcType="INTEGER" property="userId"/>
        <result column="level" jdbcType="INTEGER" property="level"/>
        <result column="experience" jdbcType="DOUBLE" property="experience"/>
        <result column="attack" jdbcType="INTEGER" property="attack"/>
        <result column="defensive" jdbcType="INTEGER" property="defensive"/>
        <result column="health" jdbcType="INTEGER" property="health"/>
    </resultMap>

    <update id="updateAttackByUserId" parameterType="com.jk.game.legend.model.UserInfo">
        update user_info set attack = #{attack}
        where user_Id = #{userId}
    </update>

    <update id="updateDefensiveByUserId" parameterType="com.jk.game.legend.model.UserInfo">
        update user_info set defensive = #{defensive}
        where user_Id = #{userId}
    </update>

    <update id="updateHealthByUserId" parameterType="com.jk.game.legend.model.UserInfo">
        update user_info set health = #{health}
        where user_Id = #{userId}
    </update>

    <update id="updateInfo" parameterType="com.jk.game.legend.model.UserInfo">
        update user_info set level = #{level},experience = #{experience},attack = #{attack},defensive = #{defensive},health = #{health}
        where user_Id = #{userId}
    </update>

</mapper>