<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jk.game.legend.server.mapper.SeeMyFriendMapper">

    <resultMap id="BaseResultMap" type="com.jk.game.legend.model.UserFriend">
        <result column="userid" jdbcType="INTEGER" property="userId"/>
        <result column="userfriend" jdbcType="VARCHAR" property="userfriend"/>
        <result column="friendrequest" jdbcType="VARCHAR" property="friendrequest"/>
    </resultMap>

    <select id="getFriendRequest" resultMap="BaseResultMap">
        select
        friendrequest
        from user_friend
        where userid = #{userId}
    </select>

</mapper>